In [1]:
#task1-a)
rollno=42
print(rollno)
print(id(rollno))
print(type(rollno))

42
140706937716440
<class 'int'>

In [5]:
#b)
firstname='gaayathri'
print(firstname)
print(id(firstname))
print(type(firstname))

gaayathri
2386922255920
<class 'str'>

In [7]:
#c)
lastname='priyaa'
print(lastname)
print(id(lastname))
print(type(lastname))

priyaa
2386902565920
<class 'str'>

In [9]:
#d)
maxmarks=50
print(maxmarks)
print(id(maxmarks))
print(type(maxmarks))

50
140706937716696
<class 'int'>

In [13]:
#task2
#a)
var1=2
print(var1)

2

In [15]:
#b)
2var=2
print(2var)
# the variable cannot start with a number.

SyntaxError: invalid decimal literal (1983998360.py, line 2)

In [17]:
#c)
var 1=2
print(var 1=2)
# there should not be any space in the variable.

SyntaxError: invalid syntax (3392099513.py, line 2)

In [3]:
#d)
var$2=2
print(var$2=2)
# variables should ontain only alpha numberic values and underscores.

SyntaxError: invalid syntax (2876457653.py, line 2)

In [21]:
#task3
#a)
Class=15
print(Class)

15

In [23]:
#b)
class=14
print(class)
# class is a keyword. the variables should not be as same as the keywords.

SyntaxError: invalid syntax (2629877571.py, line 2)

In [25]:
#c)
DEF=13
print(DEF)

13

In [27]:
#d)
def=12
print(def)
# def is a keyword. the variables should not be as same as the keywords.

SyntaxError: invalid syntax (183787704.py, line 2)

In [29]:
#e)
a=TRUE
print(a)
# TRUE is a boolean data type which cannot be entered as a value to a variable.

NameError: name 'TRUE' is not defined

In [31]:
#f)
b=false
print(b)
# false is a boolean data type which cannot be entered as a value to a variable.

NameError: name 'false' is not defined

In [7]:
#task4
#a)
marks=78.9
print(marks)
print(id(marks))
print(type(marks))

78.9
2514106520336
<class 'float'>

In [9]:
#b)
marks=85.5
print(marks)
print(id(marks))
print(type(marks))

85.5
2514137644304
<class 'float'>

In [37]:
#c) since the memory address for both the variables are different the values are also different.

In [11]:
#task5
#a)
maxmarks=100
print((marks/maxmarks)*100,'%')

85.5 %

In [43]:
#b)
fullname=firstname+' '+lastname
print(fullname)

gaayathri priyaa

In [47]:
#c)
print(fullname,'scored',marks,'%')

gaayathri priyaa scored 85.5 %

In [49]:
#task6
#a)
print(1+"2")
#  the variables should not be int and string.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [51]:
#b)
print("1"+"2")
# Concatenation of strings results in a single string.

12

In [53]:
#c)
print(1/2)
#  Division of numbers results in a floating-point number.

0.5

In [55]:
#d)
print(1//2)
# Floor division results in an integer by rounding down.

0

In [57]:
#task7
#a)
print(True and True)
#The and operator requires both operands to be true for the entire expression to be true. True is a keyword so the result shows error.

NameError: name 'true' is not defined

In [59]:
#b)
print(True and False)
# The and operator requires both operands to be true. Since one operand is false, the result is False.

False

In [61]:
#c)
print(False or True)
# The or operator requires at least one operand to be true for the entire expression to be true. In this case, one operand is true, so the result is True.

True

In [63]:
#d)
print(False or False)
# Both operands are false, so the or operator will result in False.

False

In [65]:
#task8
#a)
print(firstname in fullname)
# firstname is a part of fullname, so the result is True.

True

In [67]:
#b)
print(firstname is fullname)
# firstname and fullname are different objects in memory, even though they have the same value. Therefore, the result is False.

False

In [69]:
#task9
a=4
b=3
c=2
d=a**b+c
e=a**(b+c)

#a)
print(d)
#b)
print(e)
#c) The values of d and e are different. This difference arises due to the associativity of the exponentiation operator (**).

66
1024