In [12]:
#task1
mynames =  ["Joe", "Zoe", "world", "Brad", "Angelina", "world", "Zuki", "Tom", "Paris", "world", "magic"]
if 'USA' in mynames:
    print("TRUE")
else:
    print("FALSE")

FALSE

In [22]:
#task2
mynames =  ["Joe", "Zoe", "world", "Brad", "Angelina", "world", "Zuki", "Tom", "Paris", "world", "magic"]
count = 0
for i in mynames:
    if i == "world":
        count=count+1
print(f"the number of times the data item world is present:",{count})

the number of times the data item world is present: {3}

In [5]:
#task3
numlist = list(range(1,30))
count_even = 0
count_odd = 0
for i in numlist:
    if i%2==0:
      count_even+=1
    else:
        count_odd+=1
print('Total number of even numbers:',count_even,'Total number of odd numbers:',count_odd)

Total number of even numbers: 14 Total number of odd numbers: 15

In [19]:
#task4
numlist = list(range(1,30))
el = []
count=0
for i in numlist:
    if i%2==0:
        count+=1
        print(i)
        el.append(i)
    if count == 5:
          break
print(el)

2
4
6
8
10
[2, 4, 6, 8, 10]

In [33]:
#task5
numlist = list(range(1,30))
count = 0
for i in range(30,1,-1):
    if i%2!=0:
        count+=1
        print(i)
    if count == 2:
        break

29
27

In [3]:
# task 6
x=[]
y=[]
for i in range(5):
    string = input("enter a string")
    x.append(string)
for j in range(3):
    value = int(input("enter a number"))
    y.append(value)
for z in y:
    x.append(z)
print(x)

enter a string ram
enter a string jaanu
enter a string gaayu
enter a string chennai
enter a string niit
enter a number 2
enter a number 3
enter a number 4

['ram', 'jaanu', 'gaayu', 'chennai', 'niit', 2, 3, 4]

In [9]:
# task-7
a=[]
b=[]
for x in range(1,11):
    a.append(x**2)
print("list_a =",a)
for y in range(30,41):
    b.append(y**2)
print("list_b =",b)

list_a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
list_b = [900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600]

In [11]:
#task-8
num=int(input("enter a number for table"))
for i in range(1,11):
    print(f"{num}*{i}={num*i}")

enter a number for table 6

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60