In [9]:
#TASK1
num=int(input('enter a value'))
i=1
while num>0:
    i=i*num  
    num-=1   
print("factorial of a number is:",i)

enter a value 4

factorial of a number is: 24

In [19]:
#TASK2
num=50
i=2
while i*i<=num:
    if num%i==0:
        print(f"{num} is not prime")
        break
    i+=1
else:
    if num>1:
        print(f"{num} is prime")
    else:
        print(f"{num} is not prime")
num=51
i=2
while i*i<=num:
    if num%i==0:
        print(f"{num} is not prime")
        break
    i+=1
else:
    if num>1:
        print(f"{num} is prime")
    else:
        print(f"{num} is not prime")

50 is not prime
51 is not prime

In [1]:
#TASK3
num=int(input("Enter the number"))
sum=0
while num>0:
    sum+=num%10
    num//=10
print("The added values are:", sum)

Enter the number 96301

The added values are: 19

In [5]:
#TASK4
n1=0 
n2=1
count=0
while count<7:
    print(n1)
    nth=n1+n2
    n1=n2
    n2=nth
    count+=1

0
1
1
2
3
5
8

In [13]:
#TASK5
t1=(1,2,3)
t2=(4,5,6)
t1=t1+t2
print(t1)
print(id(t1))
print(id(t2))

(1, 2, 3, 4, 5, 6)
2364433113888
2364434076480

In [17]:
#TASK6
m={10,20,30,40,50}
n=[33,40,55,60,70]
for i in n:
    m.add(i)
print(m)

{70, 10, 20, 30, 33, 40, 50, 55, 60}

In [21]:
#TASK7
Data_Set={'Python':1,'Data':2,'Excel':3,'SQL':4}
data_set = {'python': 1, 'data': 2, 'Excel': 3, 'Sql': 4}
keys = list(data_set.keys())
new_values={}  
i=0
while i<len(keys):
    key=keys[i]
    value = data_set[key]  
    if value%2==0:
        new_values[key]=value  
    i+=1
for key, value in new_values.items():
    print(key, value)

data 2
Sql 4

In [23]:
#TASK8
set1={}
for i in range(1,16):
    set1[i]=i**2
set1.update({100:10000})
print(set1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 100: 10000}